In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Project1/CompleteData.csv")

In [3]:
df.head()

,FL_DATE,DEP_HOUR,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,DEST,DEP_TIME,...,DEW_POINT,REL_HUMIDITY,ALTIMETER,LOWEST_CLOUD_LAYER,N_CLOUD_LAYER,LOW_LEVEL_CLOUD,MID_LEVEL_CLOUD,HIGH_LEVEL_CLOUD,CLOUD_COVER,ACTIVE_WEATHER
0,2022-01-01,6,AA,1,AA,1,N106NN,JFK,LAX,2022-01-01 06:57:00,...,8.89,96.69,29.92,300.0,2.0,1.0,0.0,0.0,4.0,0.0
1,2022-01-01,8,AA,10,AA,10,N101NN,LAX,JFK,2022-01-01 08:57:00,...,0.61,44.92,29.87,4800.0,1.0,1.0,0.0,0.0,2.0,0.0
2,2022-01-01,0,AA,1003,AA,1003,N830NN,STL,ORD,2022-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-01,9,AA,1004,AA,1004,N805NN,ORD,FLL,2022-01-01 09:37:00,...,0.61,89.09,29.75,500.0,1.0,1.0,0.0,0.0,4.0,1.0
4,2022-01-01,23,AA,1007,AA,1007,N870NN,CLT,STL,2022-01-01 23:00:00,...,18.28,89.81,29.79,1500.0,3.0,1.0,0.0,1.0,3.0,0.0

In [5]:
df.columns

Index(['FL_DATE', 'DEP_HOUR', 'MKT_UNIQUE_CARRIER', 'MKT_CARRIER_FL_NUM',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER_FL_NUM', 'TAIL_NUM', 'ORIGIN', 'DEST',
       'DEP_TIME', 'CRS_DEP_TIME', 'TAXI_OUT', 'DEP_DELAY', 'AIR_TIME',
       'DISTANCE', 'CANCELLED', 'LATITUDE', 'LONGITUDE', 'ELEVATION',
       'MESONET_STATION', 'YEAR OF MANUFACTURE', 'MANUFACTURER', 'ICAO TYPE',
       'RANGE', 'WIDTH', 'WIND_DIR', 'WIND_SPD', 'WIND_GUST', 'VISIBILITY',
       'TEMPERATURE', 'DEW_POINT', 'REL_HUMIDITY', 'ALTIMETER',
       'LOWEST_CLOUD_LAYER', 'N_CLOUD_LAYER', 'LOW_LEVEL_CLOUD',
       'MID_LEVEL_CLOUD', 'HIGH_LEVEL_CLOUD', 'CLOUD_COVER', 'ACTIVE_WEATHER'],
      dtype='object')

In [6]:
df.describe

<bound method NDFrame.describe of             FL_DATE  DEP_HOUR MKT_UNIQUE_CARRIER  MKT_CARRIER_FL_NUM  \
0        2022-01-01         6                 AA                   1
1        2022-01-01         8                 AA                  10
2        2022-01-01         0                 AA                1003
3        2022-01-01         9                 AA                1004
4        2022-01-01        23                 AA                1007
...             ...       ...                ...                 ...
6954631  2022-12-31        12                 WN                 994
6954632  2022-12-31        19                 WN                 997
6954633  2022-12-31         0                 WN                 998
6954634  2022-12-31        10                 WN                 999
6954635  2022-12-31         7                 WN                 999

        OP_UNIQUE_CARRIER  OP_CARRIER_FL_NUM TAIL_NUM ORIGIN DEST  \
0                      AA                  1   N106NN    JFK  LAX
1                      AA                 10   N101NN    LAX  JFK
2                      AA               1003   N830NN    STL  ORD
3                      AA               1004   N805NN    ORD  FLL
4                      AA               1007   N870NN    CLT  STL
...                   ...                ...      ...    ...  ...
6954631                WN                994   N8566Z    PHX  ABQ
6954632                WN                997   N486WN    MEM  MCO
6954633                WN                998   N448WN    SFO  BUR
6954634                WN                999   N7836A    ATL  MIA
6954635                WN                999   N7836A    IND  ATL

                    DEP_TIME  ... DEW_POINT  REL_HUMIDITY  ALTIMETER  \
0        2022-01-01 06:57:00  ...      8.89         96.69      29.92
1        2022-01-01 08:57:00  ...      0.61         44.92      29.87
2        2022-01-01 00:00:00  ...       NaN           NaN        NaN
3        2022-01-01 09:37:00  ...      0.61         89.09      29.75
4        2022-01-01 23:00:00  ...     18.28         89.81      29.79
...                      ...  ...       ...           ...        ...
6954631  2022-12-31 12:37:00  ...      8.28         85.48      30.02
6954632  2022-12-31 19:19:00  ...     11.72         90.29      29.95
6954633  2022-12-31 00:00:00  ...     14.39         89.52      29.91
6954634  2022-12-31 10:23:00  ...     12.22         93.32      30.02
6954635  2022-12-31 07:57:00  ...      6.72         96.63      29.89

         LOWEST_CLOUD_LAYER  N_CLOUD_LAYER  LOW_LEVEL_CLOUD  MID_LEVEL_CLOUD  \
0                     300.0            2.0              1.0              0.0
1                    4800.0            1.0              1.0              0.0
2                       NaN            NaN              NaN              NaN
3                     500.0            1.0              1.0              0.0
4                    1500.0            3.0              1.0              0.0
...                     ...            ...              ...              ...
6954631              5000.0            2.0              1.0              1.0
6954632               700.0            1.0              1.0              0.0
6954633               700.0            3.0              1.0              0.0
6954634              8500.0            3.0              0.0              1.0
6954635               400.0            1.0              1.0              0.0

         HIGH_LEVEL_CLOUD  CLOUD_COVER ACTIVE_WEATHER
0                     0.0          4.0            0.0
1                     0.0          2.0            0.0
2                     NaN          NaN            NaN
3                     0.0          4.0            1.0
4                     1.0          3.0            0.0
...                   ...          ...            ...
6954631               0.0          3.0            0.0
6954632               0.0          4.0            0.0
6954633               0.0          4.0            0.0
6954634               1.0          4.0            0.0
6954635               0.0          4.0            1.0

[6954636 rows x 40 columns]>

In [17]:
na_df = df.isna().sum()
na_df

FL_DATE                    0
DEP_HOUR                   0
MKT_UNIQUE_CARRIER         0
MKT_CARRIER_FL_NUM         0
OP_UNIQUE_CARRIER          0
OP_CARRIER_FL_NUM          0
TAIL_NUM                   0
ORIGIN                     0
DEST                       0
DEP_TIME                   0
CRS_DEP_TIME               0
TAXI_OUT                   0
DEP_DELAY                  0
AIR_TIME                   0
DISTANCE                   0
CANCELLED                  0
LATITUDE                   0
LONGITUDE                  0
ELEVATION                  0
MESONET_STATION            0
YEAR OF MANUFACTURE        0
MANUFACTURER               0
ICAO TYPE                  0
RANGE                      9
WIDTH                      0
WIND_DIR               32789
WIND_SPD               32789
WIND_GUST              32789
VISIBILITY             32789
TEMPERATURE            32789
DEW_POINT              32789
REL_HUMIDITY           32789
ALTIMETER              32789
LOWEST_CLOUD_LAYER     32789
N_CLOUD_LAYER          32789
LOW_LEVEL_CLOUD        32789
MID_LEVEL_CLOUD        32789
HIGH_LEVEL_CLOUD       32789
CLOUD_COVER            32789
ACTIVE_WEATHER         32789
dtype: int64

In [24]:
weather = df['ACTIVE_WEATHER']

0          0.0
1          0.0
2          NaN
3          1.0
4          0.0
          ...
6954631    0.0
6954632    0.0
6954633    0.0
6954634    0.0
6954635    1.0
Name: ACTIVE_WEATHER, Length: 6954636, dtype: float64